body {
  width: 1000px;
  margin: 0px auto;
}

div, section {
  border: 1px dashed black;
  width: 100%;
  background-color: whitesmoke;
  color:black;
  margin: 0px 20px 30px 20px;
  padding: 10px;
}
img {
  border: 1px solid black;
  margin: 0px;
}
.navbar {
  display: inline-block;
}
li {
  float: left;
  padding: 0.5em;
  text-align: center;
  width: 150px;
  height: 70px;
  vertical-align: baseline;
}

.nav {
  margin-left: 30px;
}

.heroimage {
  margin: 0px 30px 30px 30px;
}

#content {
  overflow: scroll;
}
.banner {
  display: inline-block;
  margin: 0px 30px 30px 30px;
}
#subBanner1, #subBanner2, #subBanner3 {
  float: left;
  margin-left: 30px;
}
#subBanner1 {
  margin-left: 0px;
}
#content {
  margin: 0px 30px 30px 30px;
}
article {
  float: right;
  width: 480px;
  height: 400px;
  margin: 0px 30px 30px 0px;
  border: 1px solid black;
  overflow: scroll;
}
article>h3, article>p {
  padding: 1em;
  border: 1px solid black;
}
article>p {
  height: 270px;
}
button {
  position: absolute;
  float: left;
  width: 10%;
  height: 5%;
  background-color: black;
  color: white;
  margin: 0px;
}
