body {
  width: 100%;
  margin: 0px auto;
  background-color: white;
  box-sizing: border-box;
}
main, ul {
  width: 960px;
  margin: 0px auto;
}

div, section {
  /* border: 1px dashed black; */
  width: 100%;
  background-color: white;
  color:black;
  padding: 10px;
  margin: 0px 0px 30px 0px;

}
img {
  /* border: 1px solid black; */
  margin: 0px;
}
header> div {
  display: inline-block;
  background-color: #838383;
}
li {
  float: left;
  padding: 0.5em;
  text-align: center;
  width: 150px;
  height: 70px;
}

.nav {
  margin-left: 30px;
  color:#a9a9a9;
}


main> section {
  display: inline-block;
}

main> section> p {
  float: left;
  margin-left: 30px; 
}
#subBanner1 {
  margin-left: 0px;
}
article {
  float: right;
  width: 480px;
  height: 400px;
  /* margin: 0px 30px 30px 0px; */
  /* border: 1px solid black; */
}
article>h3, article>p {
  padding: 1em;
  /* border: 1px solid black; */
}
article> h3 {
  height: 30px;
  font-size: 1em;
}

article> p {
  height: 250px;
  overflow: scroll;
}

article> div{
  margin: 0px;
}
button {
  position: absolute;
  float: inline-start;
  width: 20%;
  height: 5%;
  margin: 0px;
  background-color: #000;
  font-size: 1em;
  color: white;
  /* border-radius: 5px; */
  border-color: black;
  transition-duration: 350ms;
}
button:hover {
  background-color: white;
  color: black;
}
footer {
  /* border: 1px dashed black; */
  width: 100%;
  height: 170px;
  background-color: #838383;
  color:black;
  /* margin: 0px 0px 30px 30px; */
  padding: 10px;
}
